{% extends 'base.html' %}

{% block title %} Comments {% endblock %}

{% block content %}


<center><h1> {{name}} </h1><center>
<br>   
<div class="row">
    <div class="col">
        <iframe src="https://open.spotify.com/embed/track/{{ song }}"width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>

    <div class="col">
        {% for artist in artists%}
        <h3 style="color: #00bfff;">{{artist}} </h3>
        {% endfor %}
        <p> released on {{release_date}}</p>
    </div>

    <div class="col">
        <h2>Likes Dislike Ratio</h2>
            <!-- if no likes/dislikes yet then progress bar wont appear -->
            {% if total == 0 %}
                <p> Be the first to like/dislike</p>  
            {% else %}
                <div style="float:left; width: 100%; background-color:{{color}};">
                    <div style="float:left;  background-color: #23C552;  width: {{percent}};" >
                        <div style = "text-align: right;">{{percent}}</div>
                    </div>
                </div>
                <p> number of likes {{likes}}</p>
                <p> number of dislikes {{dislikes}}</p>
            {% endif %}  
        
        
    </div>

</div>


{% if user.is_authenticated %}
<div class="container">
</br>
<h1>Post a Comment</h1>
<form method="POST">
{% csrf_token %}
<span>
    <p ><textarea name="body" cols="70" rows="3" maxlength="500" required id="id_body">
    </textarea><br>
    <center>
        <div >
          <button style="background-color:white; color: black;" class="btn btn-outline-info " type="submit">Submit</button>
        </div>
    </p>
  </center>
</span>
</form>



</div>
<div class="profile" style="border: solid white; width: 80%; height: fit-content;">
    <ul class="seperator" >
        {% for posts in post %}
            {% if posts.SongName == song%}
                 <li>
                    <img class="rounded-circle account-img" src="{{ posts.author.image.url }}" width="40" height="40"> 
                    <a style="color: #00bfff;">{{ posts.author }} | {{ posts.time }} :
                    
                    {{ posts.body }} 
                    {% if user == posts.author %}
                    <a href="{% url 'delete_song_comment' songID=song song_comment_id=posts.id %}">delete comment</a>
                    <a href="{% url 'edit_song_comment' songID=song commentID=posts.id %}">edit comment</a>
                    {% endif %}
                 </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% else %}
    <h2 style="text-align:center;"> You need to be logged in to add/view comments</h2>
{% endif %} 
{% endblock %}