{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p style="text-align: left;">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <a style="color: grey;">{{ field.help_text }}</a>        {% endif %}
        {% for error in field.errors %}
          <p style="color: red; text-align: left;">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" style="background-color:white;">Sign up</button>
  </form>
{% endblock %}